/**
 * Variables
 * =================================
 * - Main Background / Foreground
 * - Brand Palette
 *
 *
 */


// Background and Foreground colors.
// All fonts and headers (unless overwritten) will be effected.

$primary: #ffffff;
$background: #040625;


// Brand palette colors.
// Use the color type as opposed to "secondary" or "tertiary" or something.

//colors
$cyan: #2789D0;         // Highlight Background
$red: #fd2873;          // Main Foreground
$yellow: #e7950c;       // Secondary Foreground
$off-white: #f0e9de;    // I Wanted a white
$hover-pink: #ff16a5;   // Hover Color 1
$hover-purple: #6e41ff; // Hover color 2
