/**
 * Typography
 * =================================
 * - Base
 * - Headers
 * - Paragraphs
 * - Text Transformations
 * - Text Placements
 *
 * Body font size, headings etc have been set in /variables
 *
 *
 */


//*********************************************
//****************** BASE *********************
//*********************************************
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $main-font;
  font-size: $normal;
}




//*********************************************
//***************** HEADERS *******************
//*********************************************
h1, h2, h3 {
  font-family: $head-font;
  color: $primary;
  font-weight: 800;
  margin-bottom: 0;
  padding-bottom: 5px;
}

h1 {
  text-transform: uppercase;
  font-size: $xlarge;
  font-family: $head-font;
  color: $red;
  text-shadow:
          1px 0px $background, 0px 1px $purple,
          2px 1px $background, 1px 2px $purple,
          3px 2px $background, 2px 3px $purple,
          4px 3px $background, 3px 4px $purple,
          5px 4px $background, 4px 5px $purple,
          6px 5px $background, 5px 6px $purple,
          7px 6px $background, 6px 7px $purple,
          8px 7px $background, 7px 8px $purple,
          8px 8px $background, 7px 8px $purple;
}

h2 {
  font-size: $large;
  text-transform: uppercase;
  color: $off-white;
  text-shadow:
          1px 0px $background, 0px 1px $purple,
          2px 1px $background, 1px 2px $purple,
          3px 2px $background, 2px 3px $purple,
          4px 3px $background, 3px 4px $purple,
          5px 4px $background, 4px 5px $purple,
          6px 5px $background, 5px 6px $purple,
          7px 6px $background, 6px 7px $purple,
          8px 7px $background, 7px 8px $purple,
          8px 8px $background, 7px 8px $purple;
}

h3 {
  font-size: $medium;
  text-transform: uppercase;
  color: $off-white;
}

h4 {
  font-family: $main-font;
  font-size: $small;
  text-transform: uppercase;
  color: $primary;
  font-weight: 800;
}

h5 {
  font-family: $main-font;
  font-size: $small;
  color: $primary;
  font-weight: 800;
}



//*********************************************
//*************** FONT SIZES ******************
//*********************************************
.small-font {
  font-size: $small;
}

.medium-font {
  font-size: $medium;
}

.large-font {
  font-size: $large;
}

.xlarge-font {
  font-size: $xlarge;
}

@media screen and (max-width: 39.9375em) {
  .medium-font-mobile {
    font-size: $medium;
  }
}


//*********************************************
//*************** PARAGRAPHS ******************
//*********************************************
p {
  font-family: $main-font;
  font-size: $normal;
  color: $primary;
  padding: 20px;
  line-height: 1.6;
  padding-bottom: 0;
}

.featured-paragraph {
  font-size: 1.2em;
}

.featured-reviews {
  border: 2px solid $primary;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 5px;
}


//*********************************************
//****************** LINKS *******************
//*********************************************

a {
  color: $primary;
}

a:hover {
  color: $primary;
}

a:active {
  color: $primary;
}

a:visited {
  color: $primary;
}


//*********************************************
//********** TEXT TRANSFORMATION **************
//*********************************************
.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 800;
}

.italics {
  font-style: italic;
}



