/**
 * Buttons
 * =================================
 * - Button Style 1
 *
 *
 *
 *
 */

//*********************************************
//************* BUTTON STYLE 1 ****************
//*********************************************
.featured-button {
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
  display: block;
  position: relative;
  padding: 1.2em 2em;
  font-family: $main-font;
  font-size: .9em;
  font-weight: 600;
  letter-spacing: 0.12em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $off-white;
  background: $red;
  border: 0;
  border-radius: 0.2em;
  cursor: pointer;
  transition: all 0.3s ease-out;
  margin: 0 auto;
}

.featured-button:hover {
  color: $off-white;
}

.featured-button:after {
  box-sizing: border-box;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  content: "";
  width: 100%;
  height: 100%;
  background: transparent;
  border: 0.2em solid $cyan;
  border-radius: 0.2em;
  transition: all 0.15s ease-out;
}
.featured-button:hover:after {
  top: 0;
  left: 0;
}
